#root {
	display: flex;
	flex-wrap: wrap;
}

/*The application*/

.app {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

#map {
	margin: 0;
}

/*Floating panel*/

.floating-panel {
	background-color: white;
    border-radius: 3px;
    height: 100vh;
    line-height: 35px;
    text-align: left;
    width: 15vw;
    padding-right: 20px;
    overflow-y: scroll;
}

/*Scroll bar*/



/*Search box*/
.search-box {
	height: 50px;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #999;
	margin-top: 20px;
}

.text-search {
	margin-top: 5px;
	height: 28px;
	width: 210px;
	border-radius: 3px;
}

.search-button {
	height: 35px;
	width: 60px;
	cursor: pointer;
	border-radius: 3px;
}

.search-button:hover, .text-search:hover {
	border: 2px solid #0000cc;
}

/*Restaurant list*/

.restaurant-list {
	margin: 0;
	padding-left: 5px;
	text-align: center;
}

.item-list {
	margin: 0;
	list-style: none;
	text-align: left;
	background-color: #fff;
	margin-bottom: 20px;
	padding: 5px;
	max-height: 50px;
	-webkit-transition: all .3s ease-in-out;
	-webkit-box-shadow: 4px 4px 5px 4px grey;
	-moz-box-shadow: 4px 4px 5px 4px grey;
	box-shadow: 4px 4px 5px 4px grey;
}

.item-list:hover {
	padding-left: 15px;
	cursor: pointer;
	color: #0000cc;
}

.selected {
/*	padding-left: 15px;*/
	color: #0000cc;
	max-height: 100%;
	text-align: center;
}

.selected:hover {
	padding-left: 5px;
}

.restaurant-details {
	max-height: 0;
	display: none;
	overflow-y: auto;
}

.showing {
	max-height: 100%;
	display: block;
	overflow: hidden;
}  

.category-item {
	text-align: center;
	color: black;
	border-top: 2px solid grey;
}

a {
	color: blue;
	text-align: center;
	cursor: default;
}

img {
	width: 240px;
}
